<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unclezs.permission.module.system.mapper.AdminMapper">
    <resultMap id="OneWithRoles" type="com.unclezs.permission.module.system.model.Admin">
        <id column="id" property="id"></id>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="enabled" column="enabled"/>
        <collection property="roles" ofType="com.unclezs.permission.module.system.model.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rName"/>
        </collection>
    </resultMap>

    <select id="getOneWithRoles" resultMap="OneWithRoles">
        SELECT
            admin.id,
            admin.username,
            admin.nickname,
            admin.phone,
            admin.email,
            admin.enabled,
            role.`name` as rName,
            role.id AS rid
        FROM
            admin
                LEFT JOIN admin_role AS ar ON ar.aid = admin.id
                LEFT JOIN role ON role.id = ar.rid and role.enabled='1'
        WHERE
            admin.id = #{adminId}
    </select>
</mapper>
